*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image:url("../images/edit\ 1.jpg");
    /* background: no-repeat; */
    /* background-size: cover; */
 /* */ 
 .image{
    background: url("../images/edit\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 770px;
 }


/* .header img{


    height: 703px;
    width:100vw;
} */
.heading{
    margin-top: 100px;
    font-size: 30px;
    
    /* width: 30px; */
    font-weight: bold;
    margin-left: 100px;
    /* margin-top: -650px; */
    color: rgb(10, 10, 10);
    
}
.para{
    font-size: 35px;
    font-weight: bold;
    /* width: 900px; */
    /* height: 900px; */
    margin-left: 40px;
    margin-top: 30px;
    color: rgb(6, 6, 6);
}
.main{
    /* margin-top: -850px;   */
    margin-left: 50px;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold
}
.nav {
    /* border: 2px solid white; */
    /* margin-left: 100px; */
    /* text-decoration: none; */
    background-color: transparent;
}

nav:hover {
    cursor: pointer;
    text-decoration: none;
    /* list-style: none; */

}

nav ul {
    /* text-decoration: none; */
    /* background-color: black; */
}

.nav ul li {
    display: inline;
    padding: 100px;
    font-size: 30px;
    color: rgb(4, 4, 4);
    font-weight: bold;
    /* background-color: black; */
    /* list-style: none; */
    /* text-decoration: none; */
    /* flex-direction: row; */
}

.nav ul li a {
    text-decoration: none;
    /* background-color: black; */
}
.logo img{
    height: 150px;
    width: 180px;
    /* margin-top: -80px; */
    margin-left: -250px;
    

    /* height: 20px;
    width: 20px;
    margin-top:-1050px
    margin-left:30px */
    /* height: 92px;
    margin-top:-1050px
    width: 148px;
    margin-left: 47px; */
}
footer{
    /* bottom: 30px; */
    text-align: center;
    background-color: black;
    color: white;
}